<li>
	{{name}}

	<button class="new-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if sleep}}EAT BURGER!{{else}}EAT BURGER!{{/if}}
	</button>

	<button class="devoured" data-id="{{this.id}}">DEVOURED!</button>
</li>
